.skills-list-item {
    border: 1px solid var(--box-border-color); 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.187); 
    padding: 20px; 
    display: flex; 
    min-width: 80px; 
    align-items: center; 
    margin-bottom: 1.5em;
    color: var(--secondary-text-color); 
    font-size: 16px; 
    font-style: 'Poppins', sans-serif;
    text-decoration: none;
    justify-content: center;
  }
  .skills-list {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    margin-bottom: 1.5em;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: center;
    padding: 0;
  }
  
  .certification-list-item {
    border: 1px solid var(--box-border-color); 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.187); 
    display: flex; 
    justify-content: center;
    margin-bottom: 0.8em;
    color: var(--secondary-text-color); 
    font-size: 14px; 
    font-style: 'Poppins', sans-serif;
    text-decoration: none;
    flex-direction: column;
    width: 25vh; 
    height: 18vh;
    flex-wrap: wrap;
    text-align: center;
    padding: 1.2em;
  }

 .certification-list-item h1{
  margin: 0;
  padding-top: 1.5em;
 }  
 .certification-list-item p{
  margin: 0;
  padding-top: 1.5em;
 }  
  .skills-list-item:hover,.certification-list-item:hover{
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    border-color: #4a148c; 
  }

  .section-title{
    font-size: 24px; /* Larger font size for section titles */
    margin-bottom: 10px;
    justify-content: center; /* Center the title horizontally */
    display: flex;
  }
  .skills{
    align-items: center; 
  }
  
.certification-list-item p {
  font-size: 16px;
  color: var(--primary-text-color); 
}

.certification-list-item h1 {
  font-size: 19px;
}